body,
html {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

#main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  font-family: "DM Serif Display", serif;
  height: 5em;
}

#date-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

#date-wrapper p {
  color: #fabea7;
  font-weight: 600;
  font-size: 2em;
  padding: 0 0 0 2.5rem;
}

#main-content {
  flex: 1 0 auto;
  display: flex;
  align-items: flex-start;
}

#todo-list {
  padding: 2em 2.5em;
  width: 100%;
}

#todo-list li {
  padding: 10px 0;
  font-size: 1.4em;
  border-bottom: 1px dashed #ccc;
  display: flex;
  align-items: center;
}

#todo-list li label {
  flex-grow: 1;
}

#todo-list li a {
  color: #fabea7;
  font-size: 1.2em;
  transition-property: color;
  transition-duration: 0.4s;
}

#todo-list li a:hover {
  color: #f76868;
  cursor: pointer;
}

#todo-add {
  height: 6em;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#todo-form {
  display: flex;
  justify-content: space-around;
}

#todo-input {
  width: calc(100% - 60px);
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  font-size: 23px;
  color: rgb(48, 48, 48);
  background: transparent;
}

#todo-btn {
  padding: 0;
  border: none;
  font-size: 33px;
  background: transparent;
  cursor: pointer;
}

.todo-done {
  text-decoration: line-through;
  color: #ccc;
}
