html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-repeat: no-repeat;
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

#main-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: whitesmoke;
}

#todo-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7ce68;
  width: 100%;
  height: 7em;
}

#todo-list {
  width: 100%;
  background-color: whitesmoke;
  flex: 1 0 auto;
}

#todo-list ul {
  margin-top: 30px;
  margin-left: 30px;
}

#todo-list ul li {
  padding: 5px 0;
  font-size: 1.3em;
  color: rgb(48, 48, 48);
}

.date {
  font-weight: 700;
  font-size: 2em;
  color: whitesmoke;
}

#todo-add-container {
  flex-shrink: 0;
  padding: 30px;
}

#todo-add-wrapper {
  display: flex;
}

#todo-input {
  background-color: whitesmoke;
  outline: none;
  border: none;
  flex-grow: 1;
  height: 48px;
  border-bottom: 1px solid black;
  font-size: 23px;
}

#todo-btn {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  border: none;
  font-size: 33px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

@media (min-width: 450px) {
  #app {
    /* height: 90vh;
    overflow: hidden;
    margin: 40px 0 40px 0; */
    width: 500px;
  }
}
